/* || Typography */

/*carousel item typography*/

.carousel-caption h5{
    font-size: 6rem;
    font-weight: 700;
}

.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}


/* Hydrogen Title typography*/

#fontHeliumBrand {
    /*Font-Family: 'Old Standard TT', Serif; */
    Font-Family: 'Raleway', Sans-Serif;
    Font-Size: 40px;
    color: #097ED1;
}

/* Navlinks text fonts and color*/
.navbar-light .navbar-nav .nav-link {
    color: #097ED1;
    /*Font-Family: 'Rubik', Sans-Serif;*/
    /*Font-Family: 'Open Sans', Sans-Serif;*/
    /*Font-Size: 20px;*/
}

/* || Navbar */

#navbarWrapper {

    background-color: rgba(0, 129, 167, 0.0);
}

/*texto expecifico del navlink*/

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-align: center;
    
    
}

/*elemento contenedor de los navlink*/
.navbar-expand-lg .navbar-nav li {
    align-items:flex-end !important;
    display: flex;
  overflow: hidden;
  

    
}

/*centrado de botones en el navbarMenu container*/
.navbar-expand-lg #navbarMenu{
    align-items: center;
    justify-content: center;
}

/* || Carousel */

/*carousel size and background image settings*/
.carousel-item{
    height: 100vh;
    min-height: 450px;
    background:  no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    object-fit: cover;
}

/*carousel caption centering*/


/*experimental spacer*/
.spacer{
    margin-bottom: 6rem;
    margin-top: 6rem;
}
