.rectangle {
    background-color: sandybrown;
    height: 200px;
    width: 100%;
}

.rectangleCyan {
    background-color: cyan;


}

.rectangleSalmon {
    background-color: salmon;


}

#navbar-wrapper {

    background-color: rgba(0, 129, 167, 0.0);
}

#fontHeliumBrand {
    /*Font-Family: 'Old Standard TT', Serif; */
    Font-Family: 'Raleway', Sans-Serif;
    Font-Size: 40px;
    color: #097ED1;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.spacer{
    margin-bottom: 6rem;
    margin-top: 6rem;
}