.rectangle {
    background-color: sandybrown;
    height: 200px;
    width: 100%;
}

.rectangleCyan {
    background-color: cyan;


}

.rectangleSalmon {
    background-color: salmon;


}

#navbarColores {

    background-color: rgba(0, 129, 167, 0.0);
}


#fontHeliumBrand {
    /*Font-Family: 'Old Standard TT', Serif; */
    Font-Family: 'Raleway', Sans-Serif;
    Font-Size: 40px;
    color: #FDFCDC;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.flex-container{
    display: flex;
    padding: 10px;
}

#fondoBodyQueEraDelJumbotron{
    background-size: cover;
    background-image: url(../background/pexels.jpg);
    padding-top: calc(var(--alturaDelNavbar) + 100px);
    padding-bottom: 100px;
}

.navbar-light .navbar-nav .nav-link {
    color: #FDFCDC;
    /*Font-Family: 'Rubik', Sans-Serif;*/
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 20px;
}

:root{
    --alturaDelNavbar: 71px;
    --alturaDelNavbarCompensada:165px;
    --alturaDelNavbarDelJumbotronInicial: 500px;
}

.lead{
        margin-top: 0px;
        margin-bottom: 0px;
}

/* slider */
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    object-fit: cover;


}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #5e2a26;
    opacity: 0.7;
}

.carousel.caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5{
    font-size: 100px;
    font-weight: 700;
}

.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}

.slider-btn{
    margin-top: 30px;
}
.slider-btn .btn{
    background-color: #00666b;
    border-radius: 0;
    color: white;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-right: 15px;
}

.slider-btn .btn-2{
    color: #00666b;
    background-color: white;
}

.carousel-caption { height: 100% }

.cover{
    object-fit: cover;
}

.justify-content-center {
    justify-content: center;
  }

.segunda-division-pagina h1{
    font-size: 50px;
    font-weight: 200;
}

.margen-top-200px{
    margin-top: 200px;
}

.margen-top-50px{
    margin-top: 50px;
}

.cartitas-wrapper .card{
    border: none;
}

.cartitasbtn .btn{
    width: 12rem;
    height: 5rem;
    background-color: transparent;
    color: black;
    border-color: rgba(128, 128, 128, 0.30);
    border-width: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

